# Folder upload user (penting!)
uploads/

# Config yang berisi password
application/config/database.php

# Cache & Logs
application/cache/*
!application/cache/index.html
application/logs/*
!application/logs/index.html

# File sistem
.DS_Store
Thumbs.db
*.log
.env